.transparent {
  border: 1px solid transparent;
  background-color: transparent;
  color: #10346c;
}
.transparent:hover {
  border: 1px solid transparent;
  background-color: white;
  color: #10346c;
}

.black.bg {
  border: 1px solid transparent;
  background-color: #10346c;
  color: white;
}
.black.bg:hover {
  border: 1px solid #10346c;
  background-color: white;
  color: #10346c;
}
.white.bg {
  border: 1px solid transparent;
  background-color: white;
  color: #10346c;
}
.white.bg:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.black.border {
  border: 1px solid #10346c;
  background-color: white;
  color: #10346c;
}
.black.border:hover {
  background-color: #10346c;
  color: white;
}
.white.border {
  border: 1px solid white;
  color: white;
}
.white.border:hover {
  background-color: white;
  color: #10346c;
}
